# dataset
data_dir: /mnt/data/datasets/ILSVRC2012
dataset: imagenet
num_classes: 1000
img_size: 224

#data augmentation

mean:
    - 0.485
    - 0.456
    - 0.406
std:
    - 0.229
    - 0.224
    - 0.225
crop_pct: 1.0
scale:
    - 1.0
    - 1.0
ratio: [1.0, 1.0]
interpolation: bicubic
train_interpolation: bicubic
aa: rand-m5-mstd0.5-inc1 # rand-m9-n1-mstd0.4-inc1
color_jitter: 0.4
epochs: 300   #epochs
mixup: 0.2
mixup_off_epoch: 0
mixup_prob: 0.6
mixup_mode: batch
mixup_switch_prob: 0.5
cutmix: 1.0

model-ema: False
model-ema-decay: 0.9998

#model structure
model: "std_imagenet"
step: 4
patch_size: 16
in_channels: 3
embed_dim: 384
num_heads: 8
mlp_ratio: 4
attn_scale: 0.125
mlp_drop: 0.0
attn_drop: 0.0
depths: 8

# node
tau: 2.0
threshold: 1.0
act_function: SigmoidGrad
node_type: LIFNode
alpha: 4.0

# train hyperparam
amp: False
channels-last: False
batch_size: 2  #48
val_batch_size: 2  #48
lr: 0.0015
min_lr: 1.5e-5
sched: cosine
weight_decay: 0.01
cooldown_epochs: 10
warmup_epochs: 20
warmup_lr: 1e-5
opt: lamb
smoothing: 0.1
workers: 8
seed: 42
log_interval: 100

# device
device: 0

# log dir
output: "/mnt/home/fenglinghao/log/SpikingTransformerBenchmark/cls/sdt"
